body {
   background: url(sky.png) no-repeat;
   background-size: 100%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.star-1 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   left: 32%;
   top: 8%;
   background-image : url(star1.png);
   background-size: 40vw 5vw;
   background-repeat: no-repeat;
   animation: play1 1s steps(8) infinite;
}

@keyframes play1{
   from{background-position-x:0px;}
   to{background-position-x:-40vw;}
}

.star-2 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   right: 25.25%;
   top: 30%;
   background-image : url(star2.png);
   background-size: 20vw 5vw;
   background-repeat: no-repeat;
   animation: play2 1s steps(4) infinite;
}

@keyframes play2{
   from{background-position-x:0px;}
   to{background-position-x:-20vw;}
}

.star-3 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   right: 7%;
   top: 28%;
   background-image : url(star3.png);
   background-size: 25vw 5vw;
   background-repeat: no-repeat;
   animation: play3 1s steps(5) infinite;
}

@keyframes play3{
   from{background-position-x:0px;}
   to{background-position-x:-25vw;}
}
