html {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges; 
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;   
   height: 100%;
   width: 100%;
}

body {
   background: url(lake2.png) no-repeat;
   background-size: 100vw 200vh;
   background-position: top;
   height: 100%;
   width: 100%;
   overflow: hidden;
   position: relative;
   animation: waves 1.1s steps(2) infinite;
}

@keyframes waves{
   from{background-position-y:0px;}
   to{background-position-y:-200vh;}
}
