html {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges; 
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;   
   /*overflow: hidden;*/
   background-color: #cbf2ff;
}

.background {
   background: url(background.svg) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   position: absolute;
}

.treefort {
   background: url(treefort.svg) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   position: absolute;
}

.treefort-1 {
   background: url(treefort1.svg) no-repeat;
   height: 440px;
   width: 440px;
   top: 155px;
   right: 165px;
   position: absolute;
}

.rope-1 {
   background: url(rope1.svg) no-repeat;
   height: 60px;
   width: 60px;
   top: 145px;
   right: 165px;
   position: absolute;

}

.rope-2 {
   background: url(rope2.svg) no-repeat;
   height: 875px;
   width: 80px;
   top: 190px;
   right: 175px;
   position: absolute;
   animation-duration: 1s;
   transform-origin: 100px 0px;
   animation: rope 10s infinite;
}

@keyframes rope {
    0%,9% {
        transform: rotate(0deg);
    }
    17% {
        transform: rotate(1.1deg);
    }
    31% {
        transform: rotate(-2deg);
    }
    46% {
        transform: rotate(1.1deg);
    }
    67% {
        transform: rotate(-1.2deg);
    }
    75% {
        transform: rotate(.5deg);
    }
    85% {
        transform: rotate(-1.5deg);
    }
}


.foreground {
   background: url(foreground.png) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   position: absolute;
}

.tree {
   background: url(tree1.png) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   overflow: hidden;
   position: absolute;
   animation: tree 5s steps(8) infinite;
}

@keyframes tree{
   0%,15%{background-position-y:0px;}
   85%{background-position-y:-8640px;}
   85.001%{background-position-y:0px;}
}

.grass {
   background: url(grass1.png) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   overflow: hidden;
   position: absolute;
   animation: grass1 steps(14) 10s  infinite;
}

@keyframes grass1{
   0%{background-position-y:0px;}
   85%{background-position-y:-15120px;}
   85.001%{background-position-y:0px;}
}

.deer {
   background: url(deer1.png) no-repeat;
   background-size: 3000px 300px;
   background-position: cover center;
   height: 300px;
   width: 300px;
   overflow: hidden;
   position: absolute;
   right: 640px;
   top: 350px;
   animation: deer 13s steps(10) 5s infinite;
}

@keyframes deer{
   0%{background-position-x:0px;}
   60%{background-position-x:-3000px;}
   60.001%{background-position-x:0px;}
}
