html {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges; 
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;   
}

.background {
   background: url(background.svg) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   /*overflow: hidden;*/
   position: absolute;
}

.foreground {
   background: url(foreground.png) no-repeat;
   background-size: 1920px;
   background-position: center;
   height: 1080px;
   width: 1920px;
   overflow: hidden;
   position: absolute;
}

.bulletin {
   position: absolute;
   background: url(bulletin.svg) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
}

.rain {
   background: url(rain.png) no-repeat;
   background-size: 1920px;
   background-position: cover center;
   height: 1080px;
   width: 1920px;
   overflow: hidden;
   position: absolute;
   animation: rain 1.3s steps(13) infinite;
}

.text {
   width: 480.3px;
   height: 453.1px;
   left: 294.2px;
   top: 316px;
   position: absolute;
   padding: 20px;
}

@keyframes rain{
   from{background-position-x:0px;}
   to{background-position-y:-14040px;}
}
