html {
   image-rendering: optimizeSpeed;
   image-rendering: -moz-crisp-edges;
   image-rendering: -o-crisp-edges; 
   image-rendering: -webkit-optimize-contrast;
   image-rendering: pixelated;
   image-rendering: optimize-contrast;
   -ms-interpolation-mode: nearest-neighbor;   
   height: 100%;
   width: 100%;
}

body {
   height: 100%;
   width: 100%;
   overflow: hidden;
   position: relative;
}

.sky {
   background: url(sky.png) no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100%;
   width: 100%;
   overflow: hidden;
   position: relative;
}

.telescope {
   position: absolute;
   height: 25%;
   width: 23%;
   right: 40%;
   top: 40%;
}

.star-1 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   left: 32%;
   top: 8%;
   background-image : url(star1.png);
   background-size: 40vw 5vw;
   background-repeat: no-repeat;
   animation: play1 4s steps(8) infinite;
   /*animation-delay: 2s;*/
}

@keyframes play1{
   /*to{background-position-x:0px;}
   from{background-position-x:-40vw;}*/
   0%{background-position-x:0px;}
   20%{background-position-x:-40vw;}
   20.001%,100%{background-position-x:0px;}
}

.star-2 {
   height: 4.5vw;
   width: 4.5vw;
   position: absolute;
   right: 24%;
   top: 32%;
   background-image : url(star2.png);
   background-size: 18vw 4.5vw;
   background-repeat: no-repeat;
   animation: play2 1.5s steps(4) infinite;
}

@keyframes play2{
   /*from{background-position-x:0px;}
   to{background-position-x:-18vw;}*/
   0%{background-position-x:0px;}
   40%{background-position-x:-18vw;}
   40.001%,100%{background-position-x:0px;}

}

.star-3 {
   height: 3.5vw;
   width: 3.5vw;
   position: absolute;
   right: 7%;
   top: 30%;
   background-image : url(star3.png);
   background-size: 17.5vw 3.5vw;
   background-repeat: no-repeat;
   animation: play3 4s steps(5) 2s infinite;
}

@keyframes play3{
   /*from{background-position-x:0px;}
   to{background-position-x:-17.5vw;}*/
   0%{background-position-x:0px;}
   20%{background-position-x:-17.5vw;}
   20.001%,100%{background-position-x:0px;}
}

.star-4 {
   height: 3vw;
   width: 3vw;
   position: absolute;
   right: 50%;
   top: 2%;
   background-image : url(star2.png);
   background-size: 12vw 3vw;
   background-repeat: no-repeat;
   animation: play4 6s steps(4) -2s infinite;
}

@keyframes play4{
   0%{background-position-x:0px;}
   20%{background-position-x:-12vw;}
   20.001%,100%{background-position-x:0px;}
}

.star-5 {
   height: 2vw;
   width: 2vw;
   position: absolute;
   right: 41%;
   top: 11%;
   background-image : url(star3.png);
   background-size: 10vw 2vw;
   background-repeat: no-repeat;
   animation: play5 1.5s steps(5) -2s infinite;
}

@keyframes play5{
   0%{background-position-x:0px;}
   40%{background-position-x:-10vw;}
   40.001%,100%{background-position-x:0px;}
}

.star-6 {
   height: 2.5vw;
   width: 2.5vw;
   position: absolute;
   right: 30%;
   top: 14%;
   background-image : url(star1.png);
   background-size: 20vw 2.5vw;
   background-repeat: no-repeat;
   animation: play6 5.5s steps(8) 3s infinite;
}

@keyframes play6{
   0%{background-position-x:0px;}
   12.5%{background-position-x:-20vw;}
   12.501%,100%{background-position-x:0px;}
}

.star-7 {
   height: 4vw;
   width: 4vw;
   position: absolute;
   right: 8%;
   top: 0%;
   background-image : url(star4.png);
   background-size: 8vw 4vw;
   background-repeat: no-repeat;
   animation: play7 3s steps(2) infinite;
}

@keyframes play7{
   0%{background-position-x:0px;}
   100%{background-position-x:-8vw;}
}

.shooting-1 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   right: 20%;
   top: 24%;
   background-image : url(shooting1.png);
   background-size: 35vw 5vw;
   background-repeat: no-repeat;
   animation: shooting1 8s steps(7) infinite;
}

@keyframes shooting1{
   0%{
      background-position-x:0px;
      transform: translateY(5vh) translateX(5vw);
      opacity: 0;
   }
   2% {
      opacity: 1;
   }
   4% {
      opacity: 1;
   }
   7%{
      background-position-x:-35vw;
      transform: translateY(25vh) translateX(-5vw);
      opacity: 0;
   }
   7.001%,100%{
      opacity: 0;
   }
}

.shooting-2 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   left: 20%;
   top: 14%;
   background-image : url(shooting2.png);
   background-size: 35vw 5vw;
   background-repeat: no-repeat;
   animation: shooting2 4s steps(7) 3s infinite;
   opacity: 0;
}

@keyframes shooting2{
   0%{
      background-position-x:0px;
      transform: translateX(0vw);
      opacity: 0;
   }
   4% {
      opacity: 1;
   }
   6% {
      opacity: 1;
   }
   9%{
      background-position-x:-35vw;
      transform: translateX(20vw);
      opacity: 0;
   }
   9.001%,100%{
      opacity: 0;
   }
}

.shooting-3 {
   height: 5vw;
   width: 5vw;
   position: absolute;
   left: 30%;
   top: 22%;
   background-image : url(shooting3.png);
   background-size: 35vw 5vw;
   background-repeat: no-repeat;
   animation: shooting3 6s steps(7) 3.5s infinite;
   opacity: 0;
}

@keyframes shooting3{
   0%{
      background-position-x:0px;
      transform: translateX(0vw);
      opacity: 0;
   }
   4% {
      opacity: 1;
   }
   6% {
      opacity: 1;
   }
   9%{
      background-position-x:-35vw;
      transform: translateX(20vw);
      opacity: 0;
   }
   9.001%,100%{
      opacity: 0;
   }
}

.shooting-4 {
   height: 4vw;
   width: 4vw;
   position: absolute;
   left: 10%;
   top: 42%;
   background-image : url(shooting4.png);
   background-size: 20vw 4vw;
   background-repeat: no-repeat;
   animation: shooting4 6s steps(5) 9.5s infinite;
   opacity: 0;
}

@keyframes shooting4{
   0%{
      background-position-x:0px;
      transform: translateX(0vw) translateY(0vw);
      opacity: 0;
   }
   4% {
      opacity: 1;
   }
   6% {
      opacity: 1;
   }
   9%{
      background-position-x:-20vw;
      transform: translateX(10vw) translateY(10vw);
      opacity: 0;
   }
   9.001%,100%{
      opacity: 0;
   }
}
